<div>

  <h3>Public Profile</h3>

  <p>
    By activating your public profile, you let the public know about
    your sustainable development views. This will serve a publicly available
    certificate issued by the bank including your name, domicile and the
    <strong>percentages</strong> of valuables in your portfolio categorized as
    sustainable developmet.
  </p>

  <div class="btn-group" role="group">
    <button
        type="button"
        class="btn {{!isActive ? 'btn-primary' : 'btn-default'}}"
        (click)="isActive = false">
      Inactive
    </button>
    <button
        type="button"
        class="btn {{isActive ? 'btn-primary' : 'btn-default'}}"
        (click)="isActive = true">
        Active
    </button>
  </div>

  <div *ngIf="isActive">
    Your public profile is generated and publicly available at
    <a href="#">
    https://thebigbank.example.com/sustainable-developmet/a34s56x/
    </a>
  <div>
  <div *ngIf="!isActive">
    TODO - inactive
  <div>

</div>
