


<div id="dsg" class="tab-pane active">
 <h2> You are using <b>25%</b> of your asset to help
 <a><img class="media-object" src="assets/Sad_emoji.png" width="30px"></a></h2>

  <div class="row">
    <div class="col-md-5 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-01.jpg" width="100px">
          </a>
        <div class="caption">
            <span [ngClass]="badgeClass(data.noPoverty)">{{ percentage(data.noPoverty) | number:'1.1-1'}}</span><br>
          <p>{{data.noPovertyDesc}}<br></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-02.jpg" width="100px">
          </a>
        <div class="caption">
            <span [ngClass]="badgeClass(data.zeroHunger)">{{ percentage(data.zeroHunger) | number:'1.1-1'}}</span>
          <p>{{data.zeroHungerDesc}}<br></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-03.jpg" width="100px">
          </a>
        <div class="caption">
          <span [ngClass]="badgeClass(data.goodHealt)">{{ percentage(data.goodHealt) | number:'1.1-1' }}</span>
          <p>{{data.goodHealtDesc}}<br></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-04.jpg" width="100px">
          </a>
        <div class="caption">
            <span [ngClass]="badgeClass(data.qualityEducation)">{{ percentage(data.qualityEducation) | number:'1.1-1' }}</span>
          <p>{{data.qualityEducationDesc}}<br>
          </p>
        </div>
      </div>
    </div>
  
  </div>
  <div class="row">
    
    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-05.jpg" width="100px">
          </a>
        <div class="caption">
            <span [ngClass]="badgeClass(data.genderEquality)">{{ percentage(data.genderEquality) | number:'1.1-1' }}</span>
            <p>{{data.genderEqualityDesc}}<br>
            </p>
        </div>
      </div>
    </div>

    

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-06.jpg" width="100px">
          </a>
        <div class="caption">
            <span [ngClass]="badgeClass(data.cleanWater)">{{ percentage(data.cleanWater) | number:'1.1-1' }}</span>
          <p>{{data.cleanWaterDesc}}<br>
                    </p>
        </div>
      </div>
    </div>

      <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-07.jpg" width="100px">
          </a>
        <div class="caption">
            <span [ngClass]="badgeClass(data.cleanEnergy)">{{ percentage(data.cleanEnergy) | number:'1.1-1' }}</span>
                     <p>{{data.cleanWaterDesc}}<br>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-08.jpg" width="100px">
          </a>
        <div class="caption">
            <span [ngClass]="badgeClass(data.decentWork)">{{ percentage(data.decentWork) | number:'1.1-1' }}</span>
          <p>{{data.decentWorkDesc}}<br>
            </p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-09.jpg" width="100px">
          </a>
        <div class="caption">
            <span [ngClass]="badgeClass(data.innovetion)">{{ percentage(data.innovetion) | number:'1.1-1' }}</span>
            <p>{{data.innovetionDesc}}<br>
                      </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-10.jpg" width="100px">
          </a>
        <div class="caption">
            <span [ngClass]="badgeClass(data.reduceInequality)">{{ percentage(data.reduceInequality) | number:'1.1-1' }}</span>
          <p>{{data.reduceInequalityDesc}}<br>
            </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-11.jpg" width="100px">
          </a>
        <div class="caption">
            <span [ngClass]="badgeClass(data.suistanableCity)">{{ percentage(data.suistanableCity) | number:'1.1-1' }}</span>
             <p>{{data.suistanableCityDesc}}<br>
              </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-12.jpg" width="100px">
          </a>
        <div class="caption">
            <span [ngClass]="badgeClass(data.responsibleConsuption)">{{ percentage(data.responsibleConsuption) | number:'1.1-1' }}</span>          <p>{{data.responsibleConsuptionDesc}}<br>
            </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-13.jpg" width="100px">
          </a>
        <div class="caption">
            <span [ngClass]="badgeClass(data.climateAction)">{{ percentage(data.climateAction) | number:'1.1-1' }}</span>
                      <p>{{data.climateAction}}<br>
            </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-14.jpg" width="100px">
          </a>
        <div class="caption">
  
            <span [ngClass]="badgeClass(data.lifeWater)">{{ percentage(data.lifeWater) | number:'1.1-1' }}</span>
             <p>{{data.lifeWater}}<br></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-15.jpg" width="100px">
          </a>
        <div class="caption">
            <span [ngClass]="badgeClass(data.lifeOnLand)">{{ percentage(data.lifeOnLand) | number:'1.1-1' }}</span>
          <p>{{data.lifeOnLandDesc}}<br>
            </p>
        </div>
      </div>
    </div>
 
    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-16.jpg" width="100px">
          </a>
        <div class="caption">
            <span [ngClass]="badgeClass(data.justice)">{{ percentage(data.justice) | number:'1.1-1' }}</span>
          <p>{{data.justiceDesc}}<br>
            </p>
        </div>
      </div>
    </div>

   <!-- <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object " src="assets/E_SDG_Icons-17.jpg" width="100px">
          </a>
        <div class="caption">
            <span [ngClass]="badgeClass(data.partnerShip)">{{ percentage(data.partnerShip) | number:'1.1-1' }}</span>
                      <p>{{data.partnerShipDesc}}<br>
            </p>
        </div>
      </div>
    </div> -->

  </div>
</div>

<div id="esg" class="tab-pane">
    <h2>... and in your portfolio you have {{totaleEsg}} Esg 
        <a><img class="media-object"  width="30px"></a></h2>
        <div class="row">
            <div class="col-md-5 col-md-3">
              <div class="media">
                  <a href="#">
                    <img class="media-object " src="assets/ViolentVideoGame.png" width="100px">
                  </a>
              </div>
            </div>
          
            <div class="row">
                <div class="col-md-5 col-md-3">
                  <div class="media">
                      <a href="#">
                        <img class="media-object " src="assets/abortion.jpg" width="100px">
                      </a>
                  </div>
                </div>

          </div>
  
      </div>