
  <div class="row">
    <div class="col-md-5 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-01.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>No Poverty</h3>
          <p>{{data.noPovertyDesc}}<br><span [ngClass]="badgeClass(data.noPoverty)">{{ percentage(data.noPoverty) | number:'1.1-1'}}%</span></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-02.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>No Hunger</h3>
          <p>{{data.zeroHungerDesc}}<br><span [ngClass]="badgeClass(data.zeroHunger)">{{ percentage(data.zeroHunger) | number:'1.1-1'}}%</span></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-03.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>Good Health and Well-Being</h3>
          <p>{{data.goodHealtDesc}}<br><span [ngClass]="badgeClass(data.goodHealt)">{{ percentage(data.goodHealt) | number:'1.1-1' }}%</span></p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-04.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>Quality Education</h3>
          <p>{{data.qualityEducationDesc}}<br><span [ngClass]="badgeClass(data.qualityEducation)">{{ percentage(data.qualityEducation) | number:'1.1-1' }}%</span></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-05.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>Gender Equality</h3>
          <p>{{data.genderEqualityDesc}}<br><span [ngClass]="badgeClass(data.genderEquality)">{{ percentage(data.genderEquality) | number:'1.1-1' }}%</span></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-06.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>Clean Water</h3>
          <p>{{data.cleanWaterDesc}}<br><span [ngClass]="badgeClass(data.cleanWater)">{{ percentage(data.cleanWater) | number:'1.1-1' }}%</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-07.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>Clean Energy</h3>
          <p>{{data.cleanWaterDesc}}<br><span [ngClass]="badgeClass(data.cleanEnergy)">{{ percentage(data.cleanEnergy) | number:'1.1-1' }}%</span></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-08.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>Decent Work</h3>
          <p>{{data.decentWorkDesc}}<br><span [ngClass]="badgeClass(data.decentWork)">{{ percentage(data.decentWork) | number:'1.1-1' }}%</span></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-09.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>Innovation</h3>
          <p>{{data.innovetionDesc}}<br><span [ngClass]="badgeClass(data.innovetion)">{{ percentage(data.innovetion) | number:'1.1-1' }}%</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-10.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>Reduced Inequalities</h3>
          <p>{{data.reduceInequalityDesc}}<br><span [ngClass]="badgeClass(data.reduceInequality)">{{ percentage(data.reduceInequality) | number:'1.1-1' }}%</span></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-11.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>Sustainable Cities</h3>
          <p>{{data.suistanableCityDesc}}<br><span [ngClass]="badgeClass(data.suistanableCity)">{{ percentage(data.suistanableCity) | number:'1.1-1' }}%</span></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-12.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>Responsible Consumption</h3>
          <p>{{data.responsibleConsuptionDesc}}<br><span [ngClass]="badgeClass(data.responsibleConsuption)">{{ percentage(data.responsibleConsuption) | number:'1.1-1' }}%</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-13.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>Climate Action</h3>
          <p>{{data.climateAction}}<br><span [ngClass]="badgeClass(data.climateAction)">{{ percentage(data.climateAction) | number:'1.1-1' }}%</span></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-14.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>Life below Water</h3>
          <p>{{data.lifeWater}}<br><span [ngClass]="badgeClass(data.lifeWater)">{{ percentage(data.lifeWater) | number:'1.1-1' }}%</span></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-15.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>Life on Land</h3>
          <p>{{data.lifeOnLandDesc}}<br><span [ngClass]="badgeClass(data.lifeOnLand)">{{ percentage(data.lifeOnLand) | number:'1.1-1' }}%</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-16.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>Peace and Justice</h3>
          <p>{{data.justiceDesc}}<br><span [ngClass]="badgeClass(data.justice)">{{ percentage(data.justice) | number:'1.1-1' }}%</span></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="media">
          <a href="#">
            <img class="media-object" src="assets/E_SDG_Icons-17.jpg" width="150px">
          </a>
        <div class="caption">
          <h3>Partnership</h3>
          <p>{{data.partnerShipDesc}}<br><span [ngClass]="badgeClass(data.partnerShip)">{{ percentage(data.partnerShip) | number:'1.1-1' }}%</span></p>
        </div>
      </div>
    </div>

  </div>
