<div class="">
    <div class="media">
      <div class="media-left">
        <a href="#" class="media-object glyphicon glyphicon-user"></a>
      </div>
      <div class="media-body">
        <h3>{{user.name}}</h3>
        <ul>
          <li>client since: {{user.clientSince}}</li>
          <li>domicile: {{user.domicile}}</li>
          <li>education: {{user.education}}</li>
          <li>nationality: {{user.nationality}}</li>
          <li>status: {{user.investorType}}</li>
          <li>rm: <span class="glyphicon glyphicon-user"></span> {{user.rm}}</li>
          <li>segment: {{user.segment}}</li>
        </ul>
      </div>
    </div>
</div>
