<!--The content below is only a placeholder and can be replaced.-->
<div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link glyphicon glyphicon-user" href="#profile" aria-controls="profile" aria-selected="true">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link fas fa-hammer" href="#impact" aria-controls="impact" aria-selected="false"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link glyphicon glyphicon-piggy-bank" href="#portfolio" aria-controls="portfolio" aria-selected="false"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link glyphicon glyphicon-certificate" href="#certificate" aria-controls="portfolio" aria-selected="false"></a>
    </li>
  </ul>
  <div class="tab-content" id="TabContent">
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile">
      TODO: profile
    </div>
    <div class="tab-pane fade" id="impact" role="tabpanel" aria-labelledby="impact">
      TODO: impact
    </div>
  </div>
</div>
