<div class="col-sm-6 col-md-3">
  <h3>
    Name: {{portfolio?.name}}
  </h3>
  <h3>
    SDG
  </h3>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-01.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_1}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-02.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_2}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-03.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_3}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-04.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_4}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-05.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_5}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-06.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_6}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-07.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_7}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-08.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_8}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-09.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_9}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-10.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_10}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-11.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_11}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-12.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_12}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-13.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_13}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-14.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_14}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-15.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_15}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-16.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_16}}</figcaption>
  </figure>

  <figure class="figure">
    <img src="assets/E_SDG_Icons-17.jpg" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">{{portfolio?.sdg.sdg_17}}</figcaption>
  </figure>

</div>
