<div class="col-sm-6 col-md-3">
  <h3>
    {{portfolio?.name}}
  </h3>
  <h4>
    SDG
  </h4>

<!--   <div class ="image-wrapper">
    <div class="figure">
        <img src="assets/E_SDG_Icons-01.jpg" class="figure-img">
        <span>{{portfolio?.sdg.sdg_1}}</span>
    </div>
  </div> -->

  <div class ="image-wrapper">
    <div class="figure">
      <img src="assets/E_SDG_Icons-02.jpg" class="figure-img">
      <span>{{portfolio?.sdg.sdg_2}}</span>
    </div>
  </div>

<!--   <div class="figure">
    <img src="assets/E_SDG_Icons-03.jpg" class="figure-img">
    <span>{{portfolio?.sdg.sdg_3}}</span>
  </div>

  <div class="figure">
    <img src="assets/E_SDG_Icons-04.jpg" class="figure-img">
    <span>{{portfolio?.sdg.sdg_4}}</span>
  </div>

  <div class="figure">
    <img src="assets/E_SDG_Icons-05.jpg" class="figure-img">
    <span>{{portfolio?.sdg.sdg_5}}</span>
  </div>

  <div class="figure">
    <img src="assets/E_SDG_Icons-06.jpg" class="figure-img">
    <span>{{portfolio?.sdg.sdg_6}}</span>
  </div> -->

  <div class="figure">
    <img src="assets/E_SDG_Icons-07.jpg" class="figure-img">
    <span>{{portfolio?.sdg.sdg_7}}</span>
  </div>

<!--   <div class="figure">
    <img src="assets/E_SDG_Icons-08.jpg" class="figure-img">
    <span>{{portfolio?.sdg.sdg_8}}</span>
  </div>

  <div class="figure">
    <img src="assets/E_SDG_Icons-09.jpg" class="figure-img">
    <span>{{portfolio?.sdg.sdg_9}}</span>
  </div>

  <div class="figure">
    <img src="assets/E_SDG_Icons-10.jpg" class="figure-img">
    <span>{{portfolio?.sdg.sdg_10}}</span>
  </div>

  <div class="figure">
    <img src="assets/E_SDG_Icons-11.jpg" class="figure-img">
    <span>{{portfolio?.sdg.sdg_11}}</span>
  </div> -->

  <div class="figure">
    <img src="assets/E_SDG_Icons-12.jpg" class="figure-img">
    <span>{{portfolio?.sdg.sdg_12}}</span>
  </div>

<!--   <div class="figure">
    <img src="assets/E_SDG_Icons-13.jpg" class="figure-img">
    <span>{{portfolio?.sdg.sdg_13}}</span>
  </div>

  <div class="figure">
    <img src="assets/E_SDG_Icons-14.jpg" class="figure-img">
    <span>{{portfolio?.sdg.sdg_14}}</span>
  </div>

  <div class="figure">
    <img src="assets/E_SDG_Icons-15.jpg" class="figure-img">
    <span>{{portfolio?.sdg.sdg_15}}</span>
  </div>

  <div class="figure">
    <img src="assets/E_SDG_Icons-16.jpg" class="figure-img">
    <span>{{portfolio?.sdg.sdg_16}}</span>
  </div>

  <div class="figure">
    <img src="assets/E_SDG_Icons-17.jpg" class="figure-img">
    <span>{{portfolio?.sdg.sdg_17}}</span>
  </div> -->


  <h4>
    ESG
  </h4>

  <div class="figure">
    <span style="font-style:italic">- none -</span>
    <img src="assets/happy_emoji.jpg" class="emoji">
  </div>


  <!-- SELL BUTTON-->
  <button mat-button (click)="openSearch()">Sell</button>

</div>
