:host {
    display: none;
    width:30%;
    right: 0;
    float: right;
    margin-top: -350px;
    margin-left: 30px;
    border-left: solid black 1px;
}

:host.is-open {
    display:block;
}

figure {
    width: 80px;
}

img.emoji {
    width: 20px;
    margin: 10px;
}

img.figure-img {
    width: 60px;
    float: left;
    padding-right:10px
}

div.figure {
    width: 100px;
    height: 60px;
}